@import "colors";


.lines {
    z-index: -1;
    position: fixed;
    height: 100vh;
    margin: 0;
    min-width: 100vw;
}

.line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: $background;
    overflow: hidden;
}

.line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background-image: linear-gradient(to top, #ff4d5a, #bb3766, #712e5a, #321f38, #020202);
    -webkit-animation: drop 7s 0s infinite;
    animation: drop 7s 0s infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
    margin-left: -20%;
}

.line:nth-child(1)::after {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.line:nth-child(3) {
    margin-left: 20%;
}

.line:nth-child(3)::after {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.line:nth-child(4) {
    margin-left: 40%;
}

.line:nth-child(4)::after {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.line:nth-child(5) {
    margin-left: -40%;
}

.line:nth-child(5)::after {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
}




@-webkit-keyframes drop {
    0% {
        top: -50%;
    }

    100% {
        top: 110%;
    }
}

@keyframes drop {
    0% {
        top: -50%;
    }

    100% {
        top: 110%;
    }
}