//phone media query

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    //text 
    .mainContainer {
        scroll-snap-type:none;
    }

    .intro {
        font-size: 0.8rem;
    }

    .glitch {
        font-size: 5rem;
    }

    .occu {
        font-size: 0.7rem;
    }

    .quickIntro {
        font-size: 1rem;
    }

    .homebtn {
        min-width: 2rem;
    }

    .btnatag {
        font-size: 0.5rem;
    }

    //div and stuff
    .stickyContainer {
        top: 0;
    }

    .name {
        margin: 0.6rem;
        opacity: 0;
    }
    .menu {
        margin: 0.7rem  0.2rem;
    }

    .menu::after {
        content: "";
    }

    .menu::before{
        content: "";
    }
    .stickyIcons {
        position: relative;
        display: block;
        align-items: center;
        display: flex;
        flex-direction: row;;
    }

    .socialIcons {
       position: fixed;
       bottom: 0;
       margin: 0;
       height: 0;
       display: flex;
       width: 100%;
       align-items: flex-end;
       justify-content: center;
    
    }

    .fa-linkedin-in {
        padding: 0;
        margin: 0 2rem;
    }

    .homeContent {
        left: 0;
        margin: 6rem 0 0 1.3rem;
    }

    .project {
        height: auto;
    }

    .app-form-control {
        width: 16rem;
    }

    .app-form-button {
        top: 0;
        width: 250px;
    }


    .project-Container {
        top: 2.1rem;
    }
  
    .third-sectionWrapper {
        display: flex;
        flex-direction: column;
    }

    .background {
        margin-right: 0;
    }
    .aboutContainer {
        width: 30ch;
        margin: 4.5rem 0 0 0;
    }

    .formContainer {
        margin: 1.5rem 0.5rem 0 ;
    }

    .madeitheading {
        text-align: center;
        text-decoration: underline;
    }

    .message {
        margin-top: 20px;
    }

    .screen-header{
        padding: 0.35rem 0.7rem;
    }

    .screen-body {
        padding: 1rem 1rem;
    }

    .madeittext {
        font-size: 0.8rem;
    }
    .screen-body-item.left {
        margin-bottom: 20px;
    }

    }
    
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
    /* Styles */
    .mainContainer {
        scroll-snap-type:none;
    }

    .intro {
        font-size: 0.55rem;
    }

    .glitch {
        font-size: 3.5rem;
    }

    .occu {
        font-size: 0.5rem;
    }

    .quickIntro {
        font-size: 0.6rem;
    }

    .homebtn {
        min-width: 1rem;
    }

    .btnatag {
        font-size: 0.3rem;
    }
    //div and stuff
    .stickyContainer {
        top: 0;
    }

    .name {
        font-size: 1rem;
        margin: 0.6rem;
        opacity: 0;
    }
    .menu {
        width: 2rem;
        margin: 0.7rem  0.2rem;
    }

    .bar {
        height: 0.1px;
    }

    .menu::after {
        content: "";
    }

    .menu::before{
        content: "";
    }
    .stickyIcons {
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .socialIcons {
       position: fixed;
       bottom: 0;
       margin: 0;
       height: 0;
       width: 100%;
       display: flex;
       align-items: flex-end;
       justify-content: center;
    }

    .fab {
        font-size: 1.7rem;
    }

    .fa-linkedin-in {
        padding: 0 ;
        margin: 0 1rem;
    }

    .homeContent {
        left: 0;
        margin: 10rem 0 0 1.3rem;
    }

    .project {
        height: auto;
    }

    .app-form-control {
        width: 15rem;
        padding: 0;
    }

    .app-form-button {
        top: 0;
        width: 250px;
    }


    .project-Container {
        top: 2.1rem;
    }


    .third-sectionWrapper {
        display: flex;
        flex-direction: column;
    }

    .background {
        margin-right: 0;
    }
    .aboutContainer {
        width: 23ch;
        margin: 4.5rem 0 0 0;
        line-height: 1.2;
    }

    .formContainer {
        margin: 1.5rem 0.1rem 0 ;
    }

    .madeitheading {
        text-align: center;
        text-decoration: underline;
    }

    .message {
        margin-top: 20px;
    }

    .screen-header{
        padding: 0.35rem 0.7rem;
    }

    .screen-body {
        padding: 1rem 0.2rem;
    }

    .madeittext {
        font-size: 0.8rem;
    }
    .screen-body-item.left {
        margin-bottom: 15px;
    }
    }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    .mainContainer {
        scroll-snap-type:none;
    }

    //div and stuff
    .stickyContainer {
        top: 0;
    }


    .name {
        font-size: 1.5rem;
        margin: 0.6rem;
        opacity: 0;
    }
    .menu {
        margin: 0.7rem  0.2rem;
    }

    .menu::after {
        content: "";
    }

    .menu::before{
        content: "";
    }
    .stickyIcons {
        position: relative;
        display: block;
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .socialIcons {
       position: fixed;
       bottom: 0;
       margin: 0;
       height: 0;
        width: 100%;
       display: flex;
       align-items: flex-end;
       justify-content: center;
    }

    .fab {
        font-size: 2rem;
    }

    .fa-linkedin-in {
        padding: 0 5rem;
        margin: 0 1rem;
    }

    .homeContent {
        left: 0;
        margin: 7rem 0 0 1.2rem;
    }

    .project {
        height: auto;
    }

    .app-form-control {
        width: 22rem;
    }

    .app-form-button {
        top: 0;
        width: 250px;
    }


    .project-Container {
        top: 2.1rem;
    }
  

    .third-sectionWrapper {
        display: flex;
        flex-direction: column;
    }

    .background {
        margin-right: 0;
    }
    .aboutContainer {
        font-size: 1.9rem;
        width: 30ch;
        margin: 7.5rem 0 0 0;
    }

    .formContainer {
        margin: 4rem 0.5rem 0 ;
    }

    .madeitheading {
        text-align: center;
        text-decoration: underline;
    }

    .message {
        margin-top: 20px;
    }

    .screen-header{
        padding: 0.35rem 0.7rem;
    }

    .screen-body {
        padding: 1rem 1rem;
    }

    .madeittext {
        font-size: 1.2rem;
    }
    .screen-body-item.left {
        margin-bottom: 20px;
    }

    
    }
    
    /* mid size ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
    /* Styles */

    .mainContainer {
        scroll-snap-type:none;
    }

    .intro {
        font-size: 0.8rem;
    }

    .glitch {
        font-size: 5rem;
    }

    .occu {
        font-size: 0.7rem;
    }

    .quickIntro {
        font-size: 1rem;
    }

    .homebtn {
        min-width: 2rem;
    }

    .btnatag {
        font-size: 0.5rem;
    }

    nav {
        left: 92%;
    }
    //div and stuff
    .stickyContainer {
        top: 0;
    }

    .name {
        margin: 0.6rem;
        opacity: 0;
    }
    .menu {
        margin: 0.7rem  0.2rem;
    }

    .menu::after {
        content: "";
    }

    .menu::before{
        content: "";
    }
    .stickyIcons {
        position: relative;
        display: block;
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .socialIcons {
       position: fixed;
       bottom: 0;
       margin: 0;
       height: 0;
       width: 100%;
       display: flex;
       align-items: flex-end;
       justify-content: center;
    }

    .fa-linkedin-in {
        padding: 0 ;
        margin: 0 3rem;
    }

    .homeContent {
        left: 0;
        margin: 6rem 0 0 1.3rem;
    }

    .project {
        height: auto;
    }

    .app-form-control {
        width: 16rem;
    }

    .app-form-button {
        top: 0;
        width: 250px;
    }


    .project-Container {
        top: 2.1rem;
    }

    .third-sectionWrapper {
        display: flex;
        flex-direction: column;
    }

    .background {
        margin-right: 0;
    }
    .aboutContainer {
        width: 30ch;
        margin: 4.5rem 0 0 0;
    }

    .formContainer {
        margin: 1.5rem 0.5rem 0 ;
    }

    .madeitheading {
        text-align: center;
        text-decoration: underline;
    }

    .message {
        margin-top: 20px;
    }

    .screen-header{
        padding: 0.35rem 0.7rem;
    }

    .screen-body {
        padding: 1rem 1rem;
    }

    .madeittext {
        font-size: 0.8rem;
    }
    .screen-body-item.left {
        margin-bottom: 20px;
    }

    }

    /* Desktops and laptops ----------- */

    @media only screen and (min-width:500px) and (max-width: 1081px){
        .mainContainer {
            scroll-snap-type: none;
        }
        .third-sectionWrapper {
            flex-direction: column;
        }

        .aboutContainer {
            width: 23ch;
        }

        .madeitheading {
            text-align: center;
        }

        .background {
            float: none;
            margin:  3rem 0 5rem;
        }

            .formContainer {
                margin: 0;
            }

    }

    @media only screen and (min-width:1024px ) {
        .name2 {
            opacity:0 ;
        }
    }

    @media only screen and (min-width:500px) and (max-width:1024px) {
        .name{
            opacity: 0;
        }
    }